


.circlular-javafx-button{
    -fx-background-radius: 15;
    -fx-pref-width: 30;
    -fx-pref-height: 30;

}
.anchor {
    -fx-background-image:url('background.jpg');
}
.borderbane
{

        -fx-background-image: url('../Images/logo.png');
   -fx-background-position-x: left;
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat ;

}
.vbux2 {
    -fx-background-color: black;
    -fx-opacity: 0.5;
}
.addbutton {

    -fx-background-image: url('../Images/add.jpg');
    -fx-background-size: 30;

}
.viewbutton {
    -fx-background-image: url('../Images/List.png');
    -fx-background-size: 30;
}